<ion-content padding >
  <button ion-button><ion-icon name="home" (click)="exit()"></ion-icon></button>
  <button ion-button><ion-icon name="information-circle" (click)="presentProfileModal()"> </ion-icon></button>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-card class="active" *ngIf="showTableForWaiters">
          <ion-card-content  (click)="showFree = !showFree; showAdmin=false; showHookah=false" [ngClass]="(showFree === true)?'backgroundShow':''">
            Зал
          </ion-card-content>
        </ion-card>
        <ion-card class="active" *ngIf="showTableForAdmins" >
          <ion-card-content (click)="showAdmin = !showAdmin; showFree=false; showHookah=false" [ngClass]="(showAdmin === true)?'backgroundShow':''">
            Администрация
          </ion-card-content>
        </ion-card>
        <ion-card class="active" *ngIf="showTableForHookah">
          <ion-card-content  (click)="showHookah = !showHookah; showAdmin=false; showFree=false" [ngClass]="(showHookah === true)?'backgroundShow':''">
          Кальян
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-10>
          <div *ngIf="showFree">
            <tables-component [tableFree]="tablesFree"></tables-component>
          </div>
          <div *ngIf="showAdmin">
            <tables-component [tableAdmin]="tablesAdmin"></tables-component>
          </div>
          <div *ngIf="showHookah">
            <tables-component [tableHookah]="tablesHookah"></tables-component>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
