<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-navbar>
          <ion-title>Итоги</ion-title>
        </ion-navbar>
      </ion-col>
      <ion-col col-6>
        <h1> Cумма: {{sum}} </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
          <ion-card-content class="size">
            <button ion-button color="danger" block>X отчет</button>
            <button ion-button color="danger" block>Z отчет</button>
            <button ion-button block (click)="showTotal = !showTotal">Чеки за смену</button>
            <button ion-button block>Итоги</button>
            <button ion-button color="dark" block>Закрыть смену</button>
          </ion-card-content>
      </ion-col>
      <ion-col col-9 *ngIf="showTotal">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button>Открытые</button>
              <button ion-button color="danger">Повтop печать</button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-col col-6>
          <div *ngIf="showTotal">

              <table style="width:100%;border:1px">
                <tr>
                  <th>Имя</th>
                  <th>№ Заказа</th>
                  <th>№ Стола</th>
                  <th>Время</th>
                  <th>Сумма</th>
                  <th>Процент</th>
                  <th>Скидка</th>
                </tr>
                    <tr *ngFor="let data of dataArr;let i = index" (click)="showInfoAboutOrder(data)">
                        <td>Jill</td>
                        <td>{{i+1}}</td>
                        <td>{{data?.name}}</td>
                        <td>{{data?.time | date:'short'}}</td>
                        <td>{{data?.sum}} грн</td>
                        <td>{{data?.percent}} %</td>
                        <td>{{data.sumWithDiscount}} грн</td>
                    </tr>
              </table>
          </div>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12 >
        <table style="width:100%;border:1px">
          <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th>Количество</th>
          </tr>
          <tr *ngFor="let item of orderArray">
            <td>{{item?.name}}</td>
            <td>{{item?.price}}</td>
            <td>{{item?.sum}}</td>
            <td>{{item?.count}}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button (click)="discountButton(5)" [disabled]="status === false">5%</button>
        <button ion-button (click)="discountButton(10)" [disabled]="status === false">10%</button>
        <button ion-button (click)="discountButton(15)" [disabled]="status === false">15%</button>
        <button ion-button (click)="discountButton(20)" [disabled]="status === false">20%</button>
        <button ion-button (click)="discountButton(25)" [disabled]="status === false">25%</button>
        <button ion-button (click)="discountButton(30)" [disabled]="status === false">30%</button>
        <button ion-button (click)="discountButton(40)" [disabled]="status === false">40%</button>
        <button ion-button (click)="discountButton(50)" [disabled]="status === false">50%</button>
        <button ion-button (click)="discountButton(100)" [disabled]="status === false">100%</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
