<ion-header>

  <ion-navbar>
    <ion-title>change-table-page</ion-title>
      <button ion-button (click)="acceptChanges()">OK</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div>
          <h1>  {{currentTable.name}}
            <ion-icon name="arrow-dropright-circle" (click)="shiftFullOrder()"></ion-icon>
          </h1>
            <ion-card *ngFor="let tables of tableWithOrder">
            <ion-card-header>
              {{tables.name}}
            </ion-card-header>
            <ion-card-content>
              Cумма: {{tables.sum}} Количество:{{tables.count}}
              <ion-icon name="arrow-dropright-circle" (click)="shiftOrder(tables)"></ion-icon>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-col>
      <ion-col col-6>
        <h1>{{table.name}}
          <ion-icon name="arrow-dropleft-circle" (click)="backShiftFullOrder()"></ion-icon>
        </h1>
          <ion-card *ngFor="let order of changedTable">
          <ion-card-header>
              {{order.name}}
          </ion-card-header>
          <ion-card-content>
            Сумма: {{order.sum}} Количество:{{order.count}}
            <ion-icon name="arrow-dropleft-circle" (click)="backShiftOrder(order)"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
      </ion-col>
      <ion-col col-2>
        <h1> Cумма: {{getResultPrice()}} </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>